<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="modelGroup">
            <h2><span jhiTranslate="crmwebApp.modelGroup.detail.title">Model Group</span> {{ modelGroup.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="crmwebApp.modelGroup.modelGroup">Model Group</span></dt>
                <dd>
                    <span>{{ modelGroup.modelGroup }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.groupDesc">Group Desc</span></dt>
                <dd>
                    <span>{{ modelGroup.groupDesc }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.listPrice">List Price</span></dt>
                <dd>
                    <span>{{ modelGroup.listPrice }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.brand">Brand</span></dt>
                <dd>
                    <span>{{ modelGroup.brand }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.model">Model</span></dt>
                <dd>
                    <span>{{ modelGroup.model }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.origCountry">Orig Country</span></dt>
                <dd>
                    <span>{{ modelGroup.origCountry }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.network">Network</span></dt>
                <dd>
                    <span>{{ modelGroup.network }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.camera">Camera</span></dt>
                <dd>
                    <span>{{ modelGroup.camera }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.memCardSlot">Mem Card Slot</span></dt>
                <dd>
                    <span>{{ modelGroup.memCardSlot }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.dataTransfer">Data Transfer</span></dt>
                <dd>
                    <span>{{ modelGroup.dataTransfer }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.warranty">Warranty</span></dt>
                <dd>
                    <span>{{ modelGroup.warranty }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.warrantyProvider">Warranty Provider</span></dt>
                <dd>
                    <span>{{ modelGroup.warrantyProvider }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.modelCate">Model Cate</span></dt>
                <dd>
                    <span>{{ modelGroup.modelCate }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.remarks">Remarks</span></dt>
                <dd>
                    <span>{{ modelGroup.remarks }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.remarksEndDate">Remarks End Date</span></dt>
                <dd>
                    <span>{{ modelGroup.remarksEndDate }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.brandChi">Brand Chi</span></dt>
                <dd>
                    <span>{{ modelGroup.brandChi }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.modelChi">Model Chi</span></dt>
                <dd>
                    <span>{{ modelGroup.modelChi }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.origCountryChi">Orig Country Chi</span></dt>
                <dd>
                    <span>{{ modelGroup.origCountryChi }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.networkChi">Network Chi</span></dt>
                <dd>
                    <span>{{ modelGroup.networkChi }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.cameraChi">Camera Chi</span></dt>
                <dd>
                    <span>{{ modelGroup.cameraChi }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.memCardSlotChi">Mem Card Slot Chi</span></dt>
                <dd>
                    <span>{{ modelGroup.memCardSlotChi }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.dataTransferChi">Data Transfer Chi</span></dt>
                <dd>
                    <span>{{ modelGroup.dataTransferChi }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.warrantyChi">Warranty Chi</span></dt>
                <dd>
                    <span>{{ modelGroup.warrantyChi }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.warrantyProviderChi">Warranty Provider Chi</span></dt>
                <dd>
                    <span>{{ modelGroup.warrantyProviderChi }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.modelCateChi">Model Cate Chi</span></dt>
                <dd>
                    <span>{{ modelGroup.modelCateChi }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.remarksChi">Remarks Chi</span></dt>
                <dd>
                    <span>{{ modelGroup.remarksChi }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.remarksChiEndDate">Remarks Chi End Date</span></dt>
                <dd>
                    <span>{{ modelGroup.remarksChiEndDate }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.couponFlag">Coupon Flag</span></dt>
                <dd>
                    <span>{{ modelGroup.couponFlag }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.lockCount">Lock Count</span></dt>
                <dd>
                    <span>{{ modelGroup.lockCount }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{ modelGroup.createdDate }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ modelGroup.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.lastUpdatedDate">Last Updated Date</span></dt>
                <dd>
                    <span>{{ modelGroup.lastUpdatedDate }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.lastUpdatedBy">Last Updated By</span></dt>
                <dd>
                    <span>{{ modelGroup.lastUpdatedBy }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.modelGroup.tenantId">Tenant Id</span></dt>
                <dd>
                    <span>{{ modelGroup.tenantId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/model-group', modelGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
