<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-subscription-product-heading" jhiTranslate="crmwebApp.subscriptionProduct.home.createOrEditLabel">Create or edit a Subscription Product</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.subscriptionProductSeqId" for="field_subscriptionProductSeqId">Subscription Product Seq Id</label>
                    <input type="number" class="form-control" name="subscriptionProductSeqId" id="field_subscriptionProductSeqId"
                           formControlName="subscriptionProductSeqId"/>
                    <div *ngIf="editForm.get('subscriptionProductSeqId')!.invalid && (editForm.get('subscriptionProductSeqId')!.dirty || editForm.get('subscriptionProductSeqId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('subscriptionProductSeqId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('subscriptionProductSeqId')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.orderId" for="field_orderId">Order Id</label>
                    <input type="text" class="form-control" name="orderId" id="field_orderId"
                           formControlName="orderId"/>
                    <div *ngIf="editForm.get('orderId')!.invalid && (editForm.get('orderId')!.dirty || editForm.get('orderId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('orderId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.subscriptionId" for="field_subscriptionId">Subscription Id</label>
                    <input type="text" class="form-control" name="subscriptionId" id="field_subscriptionId"
                           formControlName="subscriptionId"/>
                    <div *ngIf="editForm.get('subscriptionId')!.invalid && (editForm.get('subscriptionId')!.dirty || editForm.get('subscriptionId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('subscriptionId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.productId" for="field_productId">Product Id</label>
                    <input type="text" class="form-control" name="productId" id="field_productId"
                           formControlName="productId"/>
                    <div *ngIf="editForm.get('productId')!.invalid && (editForm.get('productId')!.dirty || editForm.get('productId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('productId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.productName" for="field_productName">Product Name</label>
                    <input type="text" class="form-control" name="productName" id="field_productName"
                           formControlName="productName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.deviceType" for="field_deviceType">Device Type</label>
                    <input type="text" class="form-control" name="deviceType" id="field_deviceType"
                           formControlName="deviceType"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.deviceModel" for="field_deviceModel">Device Model</label>
                    <input type="text" class="form-control" name="deviceModel" id="field_deviceModel"
                           formControlName="deviceModel"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.deviceSerialNbr" for="field_deviceSerialNbr">Device Serial Nbr</label>
                    <input type="text" class="form-control" name="deviceSerialNbr" id="field_deviceSerialNbr"
                           formControlName="deviceSerialNbr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.imei" for="field_imei">Imei</label>
                    <input type="text" class="form-control" name="imei" id="field_imei"
                           formControlName="imei"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.productTheme" for="field_productTheme">Product Theme</label>
                    <input type="text" class="form-control" name="productTheme" id="field_productTheme"
                           formControlName="productTheme"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.activationDate" for="field_activationDate">Activation Date</label>
                    <div class="d-flex">
                        <input id="field_activationDate" type="datetime-local" class="form-control" name="activationDate" formControlName="activationDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.endDate" for="field_endDate">End Date</label>
                    <div class="d-flex">
                        <input id="field_endDate" type="datetime-local" class="form-control" name="endDate" formControlName="endDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.secondMsisdn" for="field_secondMsisdn">Second Msisdn</label>
                    <input type="text" class="form-control" name="secondMsisdn" id="field_secondMsisdn"
                           formControlName="secondMsisdn"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.secondImsi" for="field_secondImsi">Second Imsi</label>
                    <input type="text" class="form-control" name="secondImsi" id="field_secondImsi"
                           formControlName="secondImsi"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                           formControlName="quantity"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.terminationReasonCode" for="field_terminationReasonCode">Termination Reason Code</label>
                    <input type="text" class="form-control" name="terminationReasonCode" id="field_terminationReasonCode"
                           formControlName="terminationReasonCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.offerId" for="field_offerId">Offer Id</label>
                    <input type="text" class="form-control" name="offerId" id="field_offerId"
                           formControlName="offerId"/>
                    <div *ngIf="editForm.get('offerId')!.invalid && (editForm.get('offerId')!.dirty || editForm.get('offerId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('offerId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.offerName" for="field_offerName">Offer Name</label>
                    <input type="text" class="form-control" name="offerName" id="field_offerName"
                           formControlName="offerName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.offerType" for="field_offerType">Offer Type</label>
                    <input type="text" class="form-control" name="offerType" id="field_offerType"
                           formControlName="offerType"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.matrixxCatalogId" for="field_matrixxCatalogId">Matrixx Catalog Id</label>
                    <input type="text" class="form-control" name="matrixxCatalogId" id="field_matrixxCatalogId"
                           formControlName="matrixxCatalogId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.matrixxResourceId" for="field_matrixxResourceId">Matrixx Resource Id</label>
                    <input type="text" class="form-control" name="matrixxResourceId" id="field_matrixxResourceId"
                           formControlName="matrixxResourceId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.matrixxObjectId" for="field_matrixxObjectId">Matrixx Object Id</label>
                    <input type="text" class="form-control" name="matrixxObjectId" id="field_matrixxObjectId"
                           formControlName="matrixxObjectId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.salesChannel" for="field_salesChannel">Sales Channel</label>
                    <input type="text" class="form-control" name="salesChannel" id="field_salesChannel"
                           formControlName="salesChannel"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.contractId" for="field_contractId">Contract Id</label>
                    <input type="text" class="form-control" name="contractId" id="field_contractId"
                           formControlName="contractId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.autoRenewal" for="field_autoRenewal">Auto Renewal</label>
                    <input type="checkbox" class="form-control" name="autoRenewal" id="field_autoRenewal"
                           formControlName="autoRenewal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.autoPay" for="field_autoPay">Auto Pay</label>
                    <input type="checkbox" class="form-control" name="autoPay" id="field_autoPay"
                           formControlName="autoPay"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.remarks" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                           formControlName="remarks"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.vendorProvisionInd" for="field_vendorProvisionInd">Vendor Provision Ind</label>
                    <input type="checkbox" class="form-control" name="vendorProvisionInd" id="field_vendorProvisionInd"
                           formControlName="vendorProvisionInd"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.tempProvisionSeqIds" for="field_tempProvisionSeqIds">Temp Provision Seq Ids</label>
                    <input type="text" class="form-control" name="tempProvisionSeqIds" id="field_tempProvisionSeqIds"
                           formControlName="tempProvisionSeqIds"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.tempDeliveryIds" for="field_tempDeliveryIds">Temp Delivery Ids</label>
                    <input type="text" class="form-control" name="tempDeliveryIds" id="field_tempDeliveryIds"
                           formControlName="tempDeliveryIds"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.lockCount" for="field_lockCount">Lock Count</label>
                    <input type="number" class="form-control" name="lockCount" id="field_lockCount"
                           formControlName="lockCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('createdDate')!.invalid && (editForm.get('createdDate')!.dirty || editForm.get('createdDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createdDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('createdDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                    <div *ngIf="editForm.get('createdBy')!.invalid && (editForm.get('createdBy')!.dirty || editForm.get('createdBy')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createdBy')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.lastUpdatedDate" for="field_lastUpdatedDate">Last Updated Date</label>
                    <div class="d-flex">
                        <input id="field_lastUpdatedDate" type="datetime-local" class="form-control" name="lastUpdatedDate" formControlName="lastUpdatedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('lastUpdatedDate')!.invalid && (editForm.get('lastUpdatedDate')!.dirty || editForm.get('lastUpdatedDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastUpdatedDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('lastUpdatedDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.lastUpdatedBy" for="field_lastUpdatedBy">Last Updated By</label>
                    <input type="text" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                           formControlName="lastUpdatedBy"/>
                    <div *ngIf="editForm.get('lastUpdatedBy')!.invalid && (editForm.get('lastUpdatedBy')!.dirty || editForm.get('lastUpdatedBy')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastUpdatedBy')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.tenantId" for="field_tenantId">Tenant Id</label>
                    <input type="text" class="form-control" name="tenantId" id="field_tenantId"
                           formControlName="tenantId"/>
                    <div *ngIf="editForm.get('tenantId')!.invalid && (editForm.get('tenantId')!.dirty || editForm.get('tenantId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tenantId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subscriptionProduct.subsOrderDetail" for="field_subsOrderDetail">Subs Order Detail</label>
                    <select class="form-control" id="field_subsOrderDetail" name="subsOrderDetail" formControlName="subsOrderDetail">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="subsOrderDetailsOption.id === editForm.get('subsOrderDetail')!.value?.id ? editForm.get('subsOrderDetail')!.value : subsOrderDetailsOption" *ngFor="let subsOrderDetailsOption of subsorderdetails; trackBy: trackById">{{ subsOrderDetailsOption.subsOrderDetailSeqId }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
