<div>
    <h2 id="page-heading">
        <span jhiTranslate="crmwebApp.deliveryOption.home.title">Delivery Options</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-delivery-option" [routerLink]="['/delivery-option/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="crmwebApp.deliveryOption.home.createLabel">
            Create a new Delivery Option
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="deliveryOptions?.length === 0">
        <span jhiTranslate="crmwebApp.deliveryOption.home.notFound">No deliveryOptions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="deliveryOptions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deliveryOption"><span jhiTranslate="crmwebApp.deliveryOption.deliveryOption">Delivery Option</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lockCount"><span jhiTranslate="crmwebApp.deliveryOption.lockCount">Lock Count</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="crmwebApp.deliveryOption.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="crmwebApp.deliveryOption.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdatedDate"><span jhiTranslate="crmwebApp.deliveryOption.lastUpdatedDate">Last Updated Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdatedBy"><span jhiTranslate="crmwebApp.deliveryOption.lastUpdatedBy">Last Updated By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tenantId"><span jhiTranslate="crmwebApp.deliveryOption.tenantId">Tenant Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="product.productId"><span jhiTranslate="crmwebApp.deliveryOption.product">Product</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let deliveryOption of deliveryOptions ;trackBy: trackId">
                    <td><a [routerLink]="['/delivery-option', deliveryOption.id, 'view']">{{ deliveryOption.id }}</a></td>
                    <td jhiTranslate="{{ 'crmwebApp.DeliverOptions.' + deliveryOption.deliveryOption }}">{{ deliveryOption.deliveryOption }}</td>
                    <td>{{ deliveryOption.lockCount }}</td>
                    <td>{{ deliveryOption.createdDate | date:'medium' }}</td>
                    <td>{{ deliveryOption.createdBy }}</td>
                    <td>{{ deliveryOption.lastUpdatedDate | date:'medium' }}</td>
                    <td>{{ deliveryOption.lastUpdatedBy }}</td>
                    <td>{{ deliveryOption.tenantId }}</td>
                    <td>
                        <div *ngIf="deliveryOption.product">
                            <a [routerLink]="['/product', deliveryOption.product?.id, 'view']" >{{ deliveryOption.product?.productId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/delivery-option', deliveryOption.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/delivery-option', deliveryOption.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(deliveryOption)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="deliveryOptions?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
