<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-offer-heading" jhiTranslate="crmwebApp.offer.home.createOrEditLabel">Create or edit a Offer</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.offerId" for="field_offerId">Offer Id</label>
                    <input type="text" class="form-control" name="offerId" id="field_offerId"
                           formControlName="offerId"/>
                    <div *ngIf="editForm.get('offerId')!.invalid && (editForm.get('offerId')!.dirty || editForm.get('offerId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('offerId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.offerExternalId" for="field_offerExternalId">Offer External Id</label>
                    <input type="text" class="form-control" name="offerExternalId" id="field_offerExternalId"
                           formControlName="offerExternalId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.offerName" for="field_offerName">Offer Name</label>
                    <input type="text" class="form-control" name="offerName" id="field_offerName"
                           formControlName="offerName"/>
                    <div *ngIf="editForm.get('offerName')!.invalid && (editForm.get('offerName')!.dirty || editForm.get('offerName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('offerName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.offerNameChi" for="field_offerNameChi">Offer Name Chi</label>
                    <input type="text" class="form-control" name="offerNameChi" id="field_offerNameChi"
                           formControlName="offerNameChi"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.offerDesc" for="field_offerDesc">Offer Desc</label>
                    <input type="text" class="form-control" name="offerDesc" id="field_offerDesc"
                           formControlName="offerDesc"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.offerDescChi" for="field_offerDescChi">Offer Desc Chi</label>
                    <input type="text" class="form-control" name="offerDescChi" id="field_offerDescChi"
                           formControlName="offerDescChi"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.offerType" for="field_offerType">Offer Type</label>
                    <select class="form-control" name="offerType" formControlName="offerType" id="field_offerType">
                        <option value="BASE">{{ 'crmwebApp.OfferType.BASE' | translate }}</option>
                        <option value="ADDON">{{ 'crmwebApp.OfferType.ADDON' | translate }}</option>
                        <option value="VAS">{{ 'crmwebApp.OfferType.VAS' | translate }}</option>
                        <option value="TOPUP">{{ 'crmwebApp.OfferType.TOPUP' | translate }}</option>
                        <option value="BUNDLE">{{ 'crmwebApp.OfferType.BUNDLE' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.offerPrice" for="field_offerPrice">Offer Price</label>
                    <input type="number" class="form-control" name="offerPrice" id="field_offerPrice"
                           formControlName="offerPrice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.tempCustomerSegments" for="field_tempCustomerSegments">Temp Customer Segments</label>
                    <input type="text" class="form-control" name="tempCustomerSegments" id="field_tempCustomerSegments"
                           formControlName="tempCustomerSegments"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.tempCustomerClasses" for="field_tempCustomerClasses">Temp Customer Classes</label>
                    <input type="text" class="form-control" name="tempCustomerClasses" id="field_tempCustomerClasses"
                           formControlName="tempCustomerClasses"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.tempSalesChannels" for="field_tempSalesChannels">Temp Sales Channels</label>
                    <input type="text" class="form-control" name="tempSalesChannels" id="field_tempSalesChannels"
                           formControlName="tempSalesChannels"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.startDate" for="field_startDate">Start Date</label>
                    <div class="d-flex">
                        <input id="field_startDate" type="datetime-local" class="form-control" name="startDate" formControlName="startDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.endDate" for="field_endDate">End Date</label>
                    <div class="d-flex">
                        <input id="field_endDate" type="datetime-local" class="form-control" name="endDate" formControlName="endDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.tempChildOfferIds" for="field_tempChildOfferIds">Temp Child Offer Ids</label>
                    <input type="text" class="form-control" name="tempChildOfferIds" id="field_tempChildOfferIds"
                           formControlName="tempChildOfferIds"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.tempProductIds" for="field_tempProductIds">Temp Product Ids</label>
                    <input type="text" class="form-control" name="tempProductIds" id="field_tempProductIds"
                           formControlName="tempProductIds"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.tempAdvancePaymentIds" for="field_tempAdvancePaymentIds">Temp Advance Payment Ids</label>
                    <input type="text" class="form-control" name="tempAdvancePaymentIds" id="field_tempAdvancePaymentIds"
                           formControlName="tempAdvancePaymentIds"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.tempPromoCodes" for="field_tempPromoCodes">Temp Promo Codes</label>
                    <input type="text" class="form-control" name="tempPromoCodes" id="field_tempPromoCodes"
                           formControlName="tempPromoCodes"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.tempDiscountCodes" for="field_tempDiscountCodes">Temp Discount Codes</label>
                    <input type="text" class="form-control" name="tempDiscountCodes" id="field_tempDiscountCodes"
                           formControlName="tempDiscountCodes"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.tempImageIds" for="field_tempImageIds">Temp Image Ids</label>
                    <input type="text" class="form-control" name="tempImageIds" id="field_tempImageIds"
                           formControlName="tempImageIds"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.limitedActivationPeriod" for="field_limitedActivationPeriod">Limited Activation Period</label>
                    <input type="checkbox" class="form-control" name="limitedActivationPeriod" id="field_limitedActivationPeriod"
                           formControlName="limitedActivationPeriod"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.allowedActivationStartDate" for="field_allowedActivationStartDate">Allowed Activation Start Date</label>
                    <div class="d-flex">
                        <input id="field_allowedActivationStartDate" type="datetime-local" class="form-control" name="allowedActivationStartDate" formControlName="allowedActivationStartDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.allowedActivationEndDate" for="field_allowedActivationEndDate">Allowed Activation End Date</label>
                    <div class="d-flex">
                        <input id="field_allowedActivationEndDate" type="datetime-local" class="form-control" name="allowedActivationEndDate" formControlName="allowedActivationEndDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.isGroupSharingOffer" for="field_isGroupSharingOffer">Is Group Sharing Offer</label>
                    <input type="checkbox" class="form-control" name="isGroupSharingOffer" id="field_isGroupSharingOffer"
                           formControlName="isGroupSharingOffer"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.isMnpOffer" for="field_isMnpOffer">Is Mnp Offer</label>
                    <input type="checkbox" class="form-control" name="isMnpOffer" id="field_isMnpOffer"
                           formControlName="isMnpOffer"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.autoRenewal" for="field_autoRenewal">Auto Renewal</label>
                    <input type="checkbox" class="form-control" name="autoRenewal" id="field_autoRenewal"
                           formControlName="autoRenewal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.transferAllowed" for="field_transferAllowed">Transfer Allowed</label>
                    <input type="checkbox" class="form-control" name="transferAllowed" id="field_transferAllowed"
                           formControlName="transferAllowed"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.infoSharingAllowed" for="field_infoSharingAllowed">Info Sharing Allowed</label>
                    <input type="checkbox" class="form-control" name="infoSharingAllowed" id="field_infoSharingAllowed"
                           formControlName="infoSharingAllowed"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.infoSharingOptions" for="field_infoSharingOptions">Info Sharing Options</label>
                    <input type="text" class="form-control" name="infoSharingOptions" id="field_infoSharingOptions"
                           formControlName="infoSharingOptions"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.offerPeriod" for="field_offerPeriod">Offer Period</label>
                    <input type="number" class="form-control" name="offerPeriod" id="field_offerPeriod"
                           formControlName="offerPeriod"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.offerPeriodTerm" for="field_offerPeriodTerm">Offer Period Term</label>
                    <select class="form-control" name="offerPeriodTerm" formControlName="offerPeriodTerm" id="field_offerPeriodTerm">
                        <option value="DAYS">{{ 'crmwebApp.OfferPeriodTerm.DAYS' | translate }}</option>
                        <option value="WEEKS">{{ 'crmwebApp.OfferPeriodTerm.WEEKS' | translate }}</option>
                        <option value="MONTHS">{{ 'crmwebApp.OfferPeriodTerm.MONTHS' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.paymentType" for="field_paymentType">Payment Type</label>
                    <input type="text" class="form-control" name="paymentType" id="field_paymentType"
                           formControlName="paymentType"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.priority" for="field_priority">Priority</label>
                    <input type="number" class="form-control" name="priority" id="field_priority"
                           formControlName="priority"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.lockCount" for="field_lockCount">Lock Count</label>
                    <input type="number" class="form-control" name="lockCount" id="field_lockCount"
                           formControlName="lockCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('createdDate')!.invalid && (editForm.get('createdDate')!.dirty || editForm.get('createdDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createdDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('createdDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                    <div *ngIf="editForm.get('createdBy')!.invalid && (editForm.get('createdBy')!.dirty || editForm.get('createdBy')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createdBy')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.lastUpdatedDate" for="field_lastUpdatedDate">Last Updated Date</label>
                    <div class="d-flex">
                        <input id="field_lastUpdatedDate" type="datetime-local" class="form-control" name="lastUpdatedDate" formControlName="lastUpdatedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('lastUpdatedDate')!.invalid && (editForm.get('lastUpdatedDate')!.dirty || editForm.get('lastUpdatedDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastUpdatedDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('lastUpdatedDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.lastUpdatedBy" for="field_lastUpdatedBy">Last Updated By</label>
                    <input type="text" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                           formControlName="lastUpdatedBy"/>
                    <div *ngIf="editForm.get('lastUpdatedBy')!.invalid && (editForm.get('lastUpdatedBy')!.dirty || editForm.get('lastUpdatedBy')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastUpdatedBy')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.offer.tenantId" for="field_tenantId">Tenant Id</label>
                    <input type="text" class="form-control" name="tenantId" id="field_tenantId"
                           formControlName="tenantId"/>
                    <div *ngIf="editForm.get('tenantId')!.invalid && (editForm.get('tenantId')!.dirty || editForm.get('tenantId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tenantId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="crmwebApp.offer.parentOffer" for="field_parentOffers">Parent Offer</label>
                    <select class="form-control" id="field_parentOffers" multiple name="parentOffers" formControlName="parentOffers">
                        <option [ngValue]="getSelected(editForm.get('parentOffers')!.value, offerOption)" *ngFor="let offerOption of offers; trackBy: trackById">{{ offerOption.offerId }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
