<div>
    <h2 id="page-heading">
        <span jhiTranslate="crmwebApp.offer.home.title">Offers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-offer" [routerLink]="['/offer/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="crmwebApp.offer.home.createLabel">
            Create a new Offer
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="offers?.length === 0">
        <span jhiTranslate="crmwebApp.offer.home.notFound">No offers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="offers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="offerId"><span jhiTranslate="crmwebApp.offer.offerId">Offer Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="offerExternalId"><span jhiTranslate="crmwebApp.offer.offerExternalId">Offer External Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="offerName"><span jhiTranslate="crmwebApp.offer.offerName">Offer Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="offerNameChi"><span jhiTranslate="crmwebApp.offer.offerNameChi">Offer Name Chi</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="offerDesc"><span jhiTranslate="crmwebApp.offer.offerDesc">Offer Desc</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="offerDescChi"><span jhiTranslate="crmwebApp.offer.offerDescChi">Offer Desc Chi</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="offerType"><span jhiTranslate="crmwebApp.offer.offerType">Offer Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="offerPrice"><span jhiTranslate="crmwebApp.offer.offerPrice">Offer Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tempCustomerSegments"><span jhiTranslate="crmwebApp.offer.tempCustomerSegments">Temp Customer Segments</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tempCustomerClasses"><span jhiTranslate="crmwebApp.offer.tempCustomerClasses">Temp Customer Classes</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tempSalesChannels"><span jhiTranslate="crmwebApp.offer.tempSalesChannels">Temp Sales Channels</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="startDate"><span jhiTranslate="crmwebApp.offer.startDate">Start Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endDate"><span jhiTranslate="crmwebApp.offer.endDate">End Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tempChildOfferIds"><span jhiTranslate="crmwebApp.offer.tempChildOfferIds">Temp Child Offer Ids</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tempProductIds"><span jhiTranslate="crmwebApp.offer.tempProductIds">Temp Product Ids</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tempAdvancePaymentIds"><span jhiTranslate="crmwebApp.offer.tempAdvancePaymentIds">Temp Advance Payment Ids</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tempPromoCodes"><span jhiTranslate="crmwebApp.offer.tempPromoCodes">Temp Promo Codes</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tempDiscountCodes"><span jhiTranslate="crmwebApp.offer.tempDiscountCodes">Temp Discount Codes</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tempImageIds"><span jhiTranslate="crmwebApp.offer.tempImageIds">Temp Image Ids</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="limitedActivationPeriod"><span jhiTranslate="crmwebApp.offer.limitedActivationPeriod">Limited Activation Period</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="allowedActivationStartDate"><span jhiTranslate="crmwebApp.offer.allowedActivationStartDate">Allowed Activation Start Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="allowedActivationEndDate"><span jhiTranslate="crmwebApp.offer.allowedActivationEndDate">Allowed Activation End Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isGroupSharingOffer"><span jhiTranslate="crmwebApp.offer.isGroupSharingOffer">Is Group Sharing Offer</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isMnpOffer"><span jhiTranslate="crmwebApp.offer.isMnpOffer">Is Mnp Offer</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="autoRenewal"><span jhiTranslate="crmwebApp.offer.autoRenewal">Auto Renewal</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="transferAllowed"><span jhiTranslate="crmwebApp.offer.transferAllowed">Transfer Allowed</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="infoSharingAllowed"><span jhiTranslate="crmwebApp.offer.infoSharingAllowed">Info Sharing Allowed</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="infoSharingOptions"><span jhiTranslate="crmwebApp.offer.infoSharingOptions">Info Sharing Options</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="offerPeriod"><span jhiTranslate="crmwebApp.offer.offerPeriod">Offer Period</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="offerPeriodTerm"><span jhiTranslate="crmwebApp.offer.offerPeriodTerm">Offer Period Term</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paymentType"><span jhiTranslate="crmwebApp.offer.paymentType">Payment Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="priority"><span jhiTranslate="crmwebApp.offer.priority">Priority</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lockCount"><span jhiTranslate="crmwebApp.offer.lockCount">Lock Count</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="crmwebApp.offer.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="crmwebApp.offer.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdatedDate"><span jhiTranslate="crmwebApp.offer.lastUpdatedDate">Last Updated Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdatedBy"><span jhiTranslate="crmwebApp.offer.lastUpdatedBy">Last Updated By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tenantId"><span jhiTranslate="crmwebApp.offer.tenantId">Tenant Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let offer of offers ;trackBy: trackId">
                    <td><a [routerLink]="['/offer', offer.id, 'view']">{{ offer.id }}</a></td>
                    <td>{{ offer.offerId }}</td>
                    <td>{{ offer.offerExternalId }}</td>
                    <td>{{ offer.offerName }}</td>
                    <td>{{ offer.offerNameChi }}</td>
                    <td>{{ offer.offerDesc }}</td>
                    <td>{{ offer.offerDescChi }}</td>
                    <td jhiTranslate="{{ 'crmwebApp.OfferType.' + offer.offerType }}">{{ offer.offerType }}</td>
                    <td>{{ offer.offerPrice }}</td>
                    <td>{{ offer.tempCustomerSegments }}</td>
                    <td>{{ offer.tempCustomerClasses }}</td>
                    <td>{{ offer.tempSalesChannels }}</td>
                    <td>{{ offer.startDate | date:'medium' }}</td>
                    <td>{{ offer.endDate | date:'medium' }}</td>
                    <td>{{ offer.tempChildOfferIds }}</td>
                    <td>{{ offer.tempProductIds }}</td>
                    <td>{{ offer.tempAdvancePaymentIds }}</td>
                    <td>{{ offer.tempPromoCodes }}</td>
                    <td>{{ offer.tempDiscountCodes }}</td>
                    <td>{{ offer.tempImageIds }}</td>
                    <td>{{ offer.limitedActivationPeriod }}</td>
                    <td>{{ offer.allowedActivationStartDate | date:'medium' }}</td>
                    <td>{{ offer.allowedActivationEndDate | date:'medium' }}</td>
                    <td>{{ offer.isGroupSharingOffer }}</td>
                    <td>{{ offer.isMnpOffer }}</td>
                    <td>{{ offer.autoRenewal }}</td>
                    <td>{{ offer.transferAllowed }}</td>
                    <td>{{ offer.infoSharingAllowed }}</td>
                    <td>{{ offer.infoSharingOptions }}</td>
                    <td>{{ offer.offerPeriod }}</td>
                    <td>{{ offer.offerPeriodTerm }}</td>
                    <td>{{ offer.paymentType }}</td>
                    <td>{{ offer.priority }}</td>
                    <td>{{ offer.lockCount }}</td>
                    <td>{{ offer.createdDate | date:'medium' }}</td>
                    <td>{{ offer.createdBy }}</td>
                    <td>{{ offer.lastUpdatedDate | date:'medium' }}</td>
                    <td>{{ offer.lastUpdatedBy }}</td>
                    <td>{{ offer.tenantId }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/offer', offer.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/offer', offer.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(offer)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="offers?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
