<div>
    <h2 id="page-heading">
        <span jhiTranslate="crmwebApp.subsItemDelivery.home.title">Subs Item Deliveries</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-subs-item-delivery" [routerLink]="['/subs-item-delivery/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="crmwebApp.subsItemDelivery.home.createLabel">
            Create a new Subs Item Delivery
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="subsItemDeliveries?.length === 0">
        <span jhiTranslate="crmwebApp.subsItemDelivery.home.notFound">No subsItemDeliveries found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="subsItemDeliveries?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deliveryId"><span jhiTranslate="crmwebApp.subsItemDelivery.deliveryId">Delivery Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deliveryStatus"><span jhiTranslate="crmwebApp.subsItemDelivery.deliveryStatus">Delivery Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deliveryOption"><span jhiTranslate="crmwebApp.subsItemDelivery.deliveryOption">Delivery Option</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tempEfLockerCode"><span jhiTranslate="crmwebApp.subsItemDelivery.tempEfLockerCode">Temp Ef Locker Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tempAddressId"><span jhiTranslate="crmwebApp.subsItemDelivery.tempAddressId">Temp Address Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deliveryRefCode"><span jhiTranslate="crmwebApp.subsItemDelivery.deliveryRefCode">Delivery Ref Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fileGenerationDate"><span jhiTranslate="crmwebApp.subsItemDelivery.fileGenerationDate">File Generation Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fileReceivedDate"><span jhiTranslate="crmwebApp.subsItemDelivery.fileReceivedDate">File Received Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deliveryDate"><span jhiTranslate="crmwebApp.subsItemDelivery.deliveryDate">Delivery Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="remarks"><span jhiTranslate="crmwebApp.subsItemDelivery.remarks">Remarks</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lockCount"><span jhiTranslate="crmwebApp.subsItemDelivery.lockCount">Lock Count</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="crmwebApp.subsItemDelivery.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="crmwebApp.subsItemDelivery.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdatedDate"><span jhiTranslate="crmwebApp.subsItemDelivery.lastUpdatedDate">Last Updated Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdatedBy"><span jhiTranslate="crmwebApp.subsItemDelivery.lastUpdatedBy">Last Updated By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tenantId"><span jhiTranslate="crmwebApp.subsItemDelivery.tenantId">Tenant Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="efLockerLocation.efLockerCode"><span jhiTranslate="crmwebApp.subsItemDelivery.efLockerLocation">Ef Locker Location</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="custAddress.addressId"><span jhiTranslate="crmwebApp.subsItemDelivery.custAddress">Cust Address</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subscriptionProduct.subscriptionProductSeqId"><span jhiTranslate="crmwebApp.subsItemDelivery.subscriptionProduct">Subscription Product</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subsItemDelivery of subsItemDeliveries ;trackBy: trackId">
                    <td><a [routerLink]="['/subs-item-delivery', subsItemDelivery.id, 'view']">{{ subsItemDelivery.id }}</a></td>
                    <td>{{ subsItemDelivery.deliveryId }}</td>
                    <td>{{ subsItemDelivery.deliveryStatus }}</td>
                    <td jhiTranslate="{{ 'crmwebApp.DeliverOptions.' + subsItemDelivery.deliveryOption }}">{{ subsItemDelivery.deliveryOption }}</td>
                    <td>{{ subsItemDelivery.tempEfLockerCode }}</td>
                    <td>{{ subsItemDelivery.tempAddressId }}</td>
                    <td>{{ subsItemDelivery.deliveryRefCode }}</td>
                    <td>{{ subsItemDelivery.fileGenerationDate | date:'medium' }}</td>
                    <td>{{ subsItemDelivery.fileReceivedDate | date:'medium' }}</td>
                    <td>{{ subsItemDelivery.deliveryDate | date:'medium' }}</td>
                    <td>{{ subsItemDelivery.remarks }}</td>
                    <td>{{ subsItemDelivery.lockCount }}</td>
                    <td>{{ subsItemDelivery.createdDate | date:'medium' }}</td>
                    <td>{{ subsItemDelivery.createdBy }}</td>
                    <td>{{ subsItemDelivery.lastUpdatedDate | date:'medium' }}</td>
                    <td>{{ subsItemDelivery.lastUpdatedBy }}</td>
                    <td>{{ subsItemDelivery.tenantId }}</td>
                    <td>
                        <div *ngIf="subsItemDelivery.efLockerLocation">
                            <a [routerLink]="['/ef-locker-location', subsItemDelivery.efLockerLocation?.id, 'view']" >{{ subsItemDelivery.efLockerLocation?.efLockerCode }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="subsItemDelivery.custAddress">
                            <a [routerLink]="['/cust-address', subsItemDelivery.custAddress?.id, 'view']" >{{ subsItemDelivery.custAddress?.addressId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="subsItemDelivery.subscriptionProduct">
                            <a [routerLink]="['/subscription-product', subsItemDelivery.subscriptionProduct?.id, 'view']" >{{ subsItemDelivery.subscriptionProduct?.subscriptionProductSeqId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/subs-item-delivery', subsItemDelivery.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/subs-item-delivery', subsItemDelivery.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(subsItemDelivery)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="subsItemDeliveries?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
