<div>
    <h2 id="page-heading">
        <span jhiTranslate="crmwebApp.commOptoutType.home.title">Comm Optout Types</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-comm-optout-type" [routerLink]="['/comm-optout-type/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="crmwebApp.commOptoutType.home.createLabel">
            Create a new Comm Optout Type
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="commOptoutTypes?.length === 0">
        <span jhiTranslate="crmwebApp.commOptoutType.home.notFound">No commOptoutTypes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="commOptoutTypes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="optoutTypeId"><span jhiTranslate="crmwebApp.commOptoutType.optoutTypeId">Optout Type Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="optoutType"><span jhiTranslate="crmwebApp.commOptoutType.optoutType">Optout Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="optoutTypeDesc"><span jhiTranslate="crmwebApp.commOptoutType.optoutTypeDesc">Optout Type Desc</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="startDate"><span jhiTranslate="crmwebApp.commOptoutType.startDate">Start Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endDate"><span jhiTranslate="crmwebApp.commOptoutType.endDate">End Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lockCount"><span jhiTranslate="crmwebApp.commOptoutType.lockCount">Lock Count</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="crmwebApp.commOptoutType.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="crmwebApp.commOptoutType.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdatedDate"><span jhiTranslate="crmwebApp.commOptoutType.lastUpdatedDate">Last Updated Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdatedBy"><span jhiTranslate="crmwebApp.commOptoutType.lastUpdatedBy">Last Updated By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tenantId"><span jhiTranslate="crmwebApp.commOptoutType.tenantId">Tenant Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let commOptoutType of commOptoutTypes ;trackBy: trackId">
                    <td><a [routerLink]="['/comm-optout-type', commOptoutType.id, 'view']">{{ commOptoutType.id }}</a></td>
                    <td>{{ commOptoutType.optoutTypeId }}</td>
                    <td>{{ commOptoutType.optoutType }}</td>
                    <td>{{ commOptoutType.optoutTypeDesc }}</td>
                    <td>{{ commOptoutType.startDate | date:'medium' }}</td>
                    <td>{{ commOptoutType.endDate | date:'medium' }}</td>
                    <td>{{ commOptoutType.lockCount }}</td>
                    <td>{{ commOptoutType.createdDate | date:'medium' }}</td>
                    <td>{{ commOptoutType.createdBy }}</td>
                    <td>{{ commOptoutType.lastUpdatedDate | date:'medium' }}</td>
                    <td>{{ commOptoutType.lastUpdatedBy }}</td>
                    <td>{{ commOptoutType.tenantId }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/comm-optout-type', commOptoutType.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/comm-optout-type', commOptoutType.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(commOptoutType)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="commOptoutTypes?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
