<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="offerCustomerClass">
            <h2><span jhiTranslate="crmwebApp.offerCustomerClass.detail.title">Offer Customer Class</span> {{ offerCustomerClass.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="crmwebApp.offerCustomerClass.customerClass">Customer Class</span></dt>
                <dd>
                    <span>{{ offerCustomerClass.customerClass }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.offerCustomerClass.offer">Offer</span></dt>
                <dd>
                    <div *ngIf="offerCustomerClass.offer">
                        <a [routerLink]="['/offer', offerCustomerClass.offer?.id, 'view']">{{ offerCustomerClass.offer?.offerId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/offer-customer-class', offerCustomerClass.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
