<div>
    <h2 id="page-heading">
        <span jhiTranslate="crmwebApp.productVoice.home.title">Product Voices</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-voice" [routerLink]="['/product-voice/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="crmwebApp.productVoice.home.createLabel">
            Create a new Product Voice
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="productVoices?.length === 0">
        <span jhiTranslate="crmwebApp.productVoice.home.notFound">No productVoices found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="productVoices?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="voiceId"><span jhiTranslate="crmwebApp.productVoice.voiceId">Voice Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productId"><span jhiTranslate="crmwebApp.productVoice.productId">Product Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="unit"><span jhiTranslate="crmwebApp.productVoice.unit">Unit</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="volume"><span jhiTranslate="crmwebApp.productVoice.volume">Volume</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="roamingFlag"><span jhiTranslate="crmwebApp.productVoice.roamingFlag">Roaming Flag</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="minTransferQuota"><span jhiTranslate="crmwebApp.productVoice.minTransferQuota">Min Transfer Quota</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maxTransferQuota"><span jhiTranslate="crmwebApp.productVoice.maxTransferQuota">Max Transfer Quota</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="minRetentionQuota"><span jhiTranslate="crmwebApp.productVoice.minRetentionQuota">Min Retention Quota</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lockCount"><span jhiTranslate="crmwebApp.productVoice.lockCount">Lock Count</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="crmwebApp.productVoice.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="crmwebApp.productVoice.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdatedDate"><span jhiTranslate="crmwebApp.productVoice.lastUpdatedDate">Last Updated Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdatedBy"><span jhiTranslate="crmwebApp.productVoice.lastUpdatedBy">Last Updated By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tenantId"><span jhiTranslate="crmwebApp.productVoice.tenantId">Tenant Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let productVoice of productVoices ;trackBy: trackId">
                    <td><a [routerLink]="['/product-voice', productVoice.id, 'view']">{{ productVoice.id }}</a></td>
                    <td>{{ productVoice.voiceId }}</td>
                    <td>{{ productVoice.productId }}</td>
                    <td>{{ productVoice.unit }}</td>
                    <td>{{ productVoice.volume }}</td>
                    <td>{{ productVoice.roamingFlag }}</td>
                    <td>{{ productVoice.minTransferQuota }}</td>
                    <td>{{ productVoice.maxTransferQuota }}</td>
                    <td>{{ productVoice.minRetentionQuota }}</td>
                    <td>{{ productVoice.lockCount }}</td>
                    <td>{{ productVoice.createdDate | date:'medium' }}</td>
                    <td>{{ productVoice.createdBy }}</td>
                    <td>{{ productVoice.lastUpdatedDate | date:'medium' }}</td>
                    <td>{{ productVoice.lastUpdatedBy }}</td>
                    <td>{{ productVoice.tenantId }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/product-voice', productVoice.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/product-voice', productVoice.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(productVoice)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="productVoices?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
