<div>
    <h2 id="page-heading">
        <span jhiTranslate="crmwebApp.productSimType.home.title">Product Sim Types</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-sim-type" [routerLink]="['/product-sim-type/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="crmwebApp.productSimType.home.createLabel">
            Create a new Product Sim Type
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="productSimTypes?.length === 0">
        <span jhiTranslate="crmwebApp.productSimType.home.notFound">No productSimTypes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="productSimTypes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="simType"><span jhiTranslate="crmwebApp.productSimType.simType">Sim Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="imsiRangeFrom"><span jhiTranslate="crmwebApp.productSimType.imsiRangeFrom">Imsi Range From</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="imsiRangeTo"><span jhiTranslate="crmwebApp.productSimType.imsiRangeTo">Imsi Range To</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="simRepositoryRef"><span jhiTranslate="crmwebApp.productSimType.simRepositoryRef">Sim Repository Ref</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lockCount"><span jhiTranslate="crmwebApp.productSimType.lockCount">Lock Count</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="crmwebApp.productSimType.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="crmwebApp.productSimType.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdatedDate"><span jhiTranslate="crmwebApp.productSimType.lastUpdatedDate">Last Updated Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdatedBy"><span jhiTranslate="crmwebApp.productSimType.lastUpdatedBy">Last Updated By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tenantId"><span jhiTranslate="crmwebApp.productSimType.tenantId">Tenant Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let productSimType of productSimTypes ;trackBy: trackId">
                    <td><a [routerLink]="['/product-sim-type', productSimType.id, 'view']">{{ productSimType.id }}</a></td>
                    <td jhiTranslate="{{ 'crmwebApp.SimType.' + productSimType.simType }}">{{ productSimType.simType }}</td>
                    <td>{{ productSimType.imsiRangeFrom }}</td>
                    <td>{{ productSimType.imsiRangeTo }}</td>
                    <td>{{ productSimType.simRepositoryRef }}</td>
                    <td>{{ productSimType.lockCount }}</td>
                    <td>{{ productSimType.createdDate | date:'medium' }}</td>
                    <td>{{ productSimType.createdBy }}</td>
                    <td>{{ productSimType.lastUpdatedDate | date:'medium' }}</td>
                    <td>{{ productSimType.lastUpdatedBy }}</td>
                    <td>{{ productSimType.tenantId }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/product-sim-type', productSimType.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/product-sim-type', productSimType.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(productSimType)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="productSimTypes?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
