<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderProcessConfig">
            <h2><span jhiTranslate="crmwebApp.orderProcessConfig.detail.title">Order Process Config</span> {{ orderProcessConfig.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="crmwebApp.orderProcessConfig.orderType">Order Type</span></dt>
                <dd>
                    <span>{{ orderProcessConfig.orderType }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.orderProcessConfig.subOrderType">Sub Order Type</span></dt>
                <dd>
                    <span>{{ orderProcessConfig.subOrderType }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.orderProcessConfig.orderNature">Order Nature</span></dt>
                <dd>
                    <span>{{ orderProcessConfig.orderNature }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.orderProcessConfig.processName">Process Name</span></dt>
                <dd>
                    <span>{{ orderProcessConfig.processName }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.orderProcessConfig.childProcessName">Child Process Name</span></dt>
                <dd>
                    <span>{{ orderProcessConfig.childProcessName }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.orderProcessConfig.lockCount">Lock Count</span></dt>
                <dd>
                    <span>{{ orderProcessConfig.lockCount }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.orderProcessConfig.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{ orderProcessConfig.createdDate }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.orderProcessConfig.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ orderProcessConfig.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.orderProcessConfig.lastUpdatedDate">Last Updated Date</span></dt>
                <dd>
                    <span>{{ orderProcessConfig.lastUpdatedDate }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.orderProcessConfig.lastUpdatedBy">Last Updated By</span></dt>
                <dd>
                    <span>{{ orderProcessConfig.lastUpdatedBy }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.orderProcessConfig.tenantId">Tenant Id</span></dt>
                <dd>
                    <span>{{ orderProcessConfig.tenantId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order-process-config', orderProcessConfig.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
