<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-order-process-config-heading" jhiTranslate="crmwebApp.orderProcessConfig.home.createOrEditLabel">Create or edit a Order Process Config</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.orderProcessConfig.orderType" for="field_orderType">Order Type</label>
                    <input type="text" class="form-control" name="orderType" id="field_orderType"
                           formControlName="orderType"/>
                    <div *ngIf="editForm.get('orderType')!.invalid && (editForm.get('orderType')!.dirty || editForm.get('orderType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('orderType')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.orderProcessConfig.subOrderType" for="field_subOrderType">Sub Order Type</label>
                    <input type="text" class="form-control" name="subOrderType" id="field_subOrderType"
                           formControlName="subOrderType"/>
                    <div *ngIf="editForm.get('subOrderType')!.invalid && (editForm.get('subOrderType')!.dirty || editForm.get('subOrderType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('subOrderType')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.orderProcessConfig.orderNature" for="field_orderNature">Order Nature</label>
                    <input type="text" class="form-control" name="orderNature" id="field_orderNature"
                           formControlName="orderNature"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.orderProcessConfig.processName" for="field_processName">Process Name</label>
                    <input type="text" class="form-control" name="processName" id="field_processName"
                           formControlName="processName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.orderProcessConfig.childProcessName" for="field_childProcessName">Child Process Name</label>
                    <input type="text" class="form-control" name="childProcessName" id="field_childProcessName"
                           formControlName="childProcessName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.orderProcessConfig.lockCount" for="field_lockCount">Lock Count</label>
                    <input type="number" class="form-control" name="lockCount" id="field_lockCount"
                           formControlName="lockCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.orderProcessConfig.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('createdDate')!.invalid && (editForm.get('createdDate')!.dirty || editForm.get('createdDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createdDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('createdDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.orderProcessConfig.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                    <div *ngIf="editForm.get('createdBy')!.invalid && (editForm.get('createdBy')!.dirty || editForm.get('createdBy')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createdBy')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.orderProcessConfig.lastUpdatedDate" for="field_lastUpdatedDate">Last Updated Date</label>
                    <div class="d-flex">
                        <input id="field_lastUpdatedDate" type="datetime-local" class="form-control" name="lastUpdatedDate" formControlName="lastUpdatedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('lastUpdatedDate')!.invalid && (editForm.get('lastUpdatedDate')!.dirty || editForm.get('lastUpdatedDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastUpdatedDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('lastUpdatedDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.orderProcessConfig.lastUpdatedBy" for="field_lastUpdatedBy">Last Updated By</label>
                    <input type="text" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                           formControlName="lastUpdatedBy"/>
                    <div *ngIf="editForm.get('lastUpdatedBy')!.invalid && (editForm.get('lastUpdatedBy')!.dirty || editForm.get('lastUpdatedBy')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastUpdatedBy')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.orderProcessConfig.tenantId" for="field_tenantId">Tenant Id</label>
                    <input type="text" class="form-control" name="tenantId" id="field_tenantId"
                           formControlName="tenantId"/>
                    <div *ngIf="editForm.get('tenantId')!.invalid && (editForm.get('tenantId')!.dirty || editForm.get('tenantId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tenantId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
