<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span jhiTranslate="crmwebApp.product.detail.title">Product</span> {{ product.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="crmwebApp.product.productId">Product Id</span></dt>
                <dd>
                    <span>{{ product.productId }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.productName">Product Name</span></dt>
                <dd>
                    <span>{{ product.productName }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.productNameChi">Product Name Chi</span></dt>
                <dd>
                    <span>{{ product.productNameChi }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.productDesc">Product Desc</span></dt>
                <dd>
                    <span>{{ product.productDesc }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.productDescChi">Product Desc Chi</span></dt>
                <dd>
                    <span>{{ product.productDescChi }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.productCate">Product Cate</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'crmwebApp.ProductCate.' + product.productCate }}">{{ product.productCate }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.productNature">Product Nature</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'crmwebApp.ProductNature.' + product.productNature }}">{{ product.productNature }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.productFamily">Product Family</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'crmwebApp.ProductFamily.' + product.productFamily }}">{{ product.productFamily }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.productType">Product Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'crmwebApp.ProductType.' + product.productType }}">{{ product.productType }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.modelCode">Model Code</span></dt>
                <dd>
                    <span>{{ product.modelCode }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.tempServiceId">Temp Service Id</span></dt>
                <dd>
                    <span>{{ product.tempServiceId }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.tempResourceSpecIds">Temp Resource Spec Ids</span></dt>
                <dd>
                    <span>{{ product.tempResourceSpecIds }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.productSpecType">Product Spec Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'crmwebApp.ProductSpecType.' + product.productSpecType }}">{{ product.productSpecType }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.skuType">Sku Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'crmwebApp.SkuType.' + product.skuType }}">{{ product.skuType }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.simType">Sim Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'crmwebApp.SimType.' + product.simType }}">{{ product.simType }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.boxType">Box Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'crmwebApp.BoxType.' + product.boxType }}">{{ product.boxType }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.shippable">Shippable</span></dt>
                <dd>
                    <span>{{ product.shippable }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.tempDeliveryOptions">Temp Delivery Options</span></dt>
                <dd>
                    <span>{{ product.tempDeliveryOptions }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.tempVoiceIds">Temp Voice Ids</span></dt>
                <dd>
                    <span>{{ product.tempVoiceIds }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.tempDataIds">Temp Data Ids</span></dt>
                <dd>
                    <span>{{ product.tempDataIds }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.tempSmsIds">Temp Sms Ids</span></dt>
                <dd>
                    <span>{{ product.tempSmsIds }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.tempMmsIds">Temp Mms Ids</span></dt>
                <dd>
                    <span>{{ product.tempMmsIds }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.startDate">Start Date</span></dt>
                <dd>
                    <span>{{ product.startDate }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.endDate">End Date</span></dt>
                <dd>
                    <span>{{ product.endDate }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.independentlyOrderable">Independently Orderable</span></dt>
                <dd>
                    <span>{{ product.independentlyOrderable }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.networkProvisionRequired">Network Provision Required</span></dt>
                <dd>
                    <span>{{ product.networkProvisionRequired }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.changeEntitlementAllowed">Change Entitlement Allowed</span></dt>
                <dd>
                    <span>{{ product.changeEntitlementAllowed }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.lockCount">Lock Count</span></dt>
                <dd>
                    <span>{{ product.lockCount }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{ product.createdDate }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ product.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.lastUpdatedDate">Last Updated Date</span></dt>
                <dd>
                    <span>{{ product.lastUpdatedDate }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.lastUpdatedBy">Last Updated By</span></dt>
                <dd>
                    <span>{{ product.lastUpdatedBy }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.tenantId">Tenant Id</span></dt>
                <dd>
                    <span>{{ product.tenantId }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.productVoice">Product Voice</span></dt>
                <dd>
                    <div *ngIf="product.productVoice">
                        <a [routerLink]="['/product-voice', product.productVoice?.id, 'view']">{{ product.productVoice?.voiceId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.productData">Product Data</span></dt>
                <dd>
                    <div *ngIf="product.productData">
                        <a [routerLink]="['/product-data', product.productData?.id, 'view']">{{ product.productData?.dataId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.productSms">Product Sms</span></dt>
                <dd>
                    <div *ngIf="product.productSms">
                        <a [routerLink]="['/product-sms', product.productSms?.id, 'view']">{{ product.productSms?.smsId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.productMms">Product Mms</span></dt>
                <dd>
                    <div *ngIf="product.productMms">
                        <a [routerLink]="['/product-mms', product.productMms?.id, 'view']">{{ product.productMms?.mmsId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.cfsService">Cfs Service</span></dt>
                <dd>
                    <div *ngIf="product.cfsService">
                        <a [routerLink]="['/cfs-service', product.cfsService?.id, 'view']">{{ product.cfsService?.serviceId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="crmwebApp.product.offer">Offer</span></dt>
                <dd>
                    <div *ngIf="product.offer">
                        <a [routerLink]="['/offer', product.offer?.id, 'view']">{{ product.offer?.offerId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
