<div>
    <h2 id="page-heading">
        <span jhiTranslate="crmwebApp.commMediaType.home.title">Comm Media Types</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-comm-media-type" [routerLink]="['/comm-media-type/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="crmwebApp.commMediaType.home.createLabel">
            Create a new Comm Media Type
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="commMediaTypes?.length === 0">
        <span jhiTranslate="crmwebApp.commMediaType.home.notFound">No commMediaTypes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="commMediaTypes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="optoutMediaId"><span jhiTranslate="crmwebApp.commMediaType.optoutMediaId">Optout Media Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mediaType"><span jhiTranslate="crmwebApp.commMediaType.mediaType">Media Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mediaTypeDesc"><span jhiTranslate="crmwebApp.commMediaType.mediaTypeDesc">Media Type Desc</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="startDate"><span jhiTranslate="crmwebApp.commMediaType.startDate">Start Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endDate"><span jhiTranslate="crmwebApp.commMediaType.endDate">End Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lockCount"><span jhiTranslate="crmwebApp.commMediaType.lockCount">Lock Count</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="crmwebApp.commMediaType.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="crmwebApp.commMediaType.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdatedDate"><span jhiTranslate="crmwebApp.commMediaType.lastUpdatedDate">Last Updated Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdatedBy"><span jhiTranslate="crmwebApp.commMediaType.lastUpdatedBy">Last Updated By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tenantId"><span jhiTranslate="crmwebApp.commMediaType.tenantId">Tenant Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let commMediaType of commMediaTypes ;trackBy: trackId">
                    <td><a [routerLink]="['/comm-media-type', commMediaType.id, 'view']">{{ commMediaType.id }}</a></td>
                    <td>{{ commMediaType.optoutMediaId }}</td>
                    <td>{{ commMediaType.mediaType }}</td>
                    <td>{{ commMediaType.mediaTypeDesc }}</td>
                    <td>{{ commMediaType.startDate | date:'medium' }}</td>
                    <td>{{ commMediaType.endDate | date:'medium' }}</td>
                    <td>{{ commMediaType.lockCount }}</td>
                    <td>{{ commMediaType.createdDate | date:'medium' }}</td>
                    <td>{{ commMediaType.createdBy }}</td>
                    <td>{{ commMediaType.lastUpdatedDate | date:'medium' }}</td>
                    <td>{{ commMediaType.lastUpdatedBy }}</td>
                    <td>{{ commMediaType.tenantId }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/comm-media-type', commMediaType.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/comm-media-type', commMediaType.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(commMediaType)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="commMediaTypes?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
