<div>
    <h2 id="page-heading">
        <span jhiTranslate="crmwebApp.subscriptionGroup.home.title">Subscription Groups</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-subscription-group" [routerLink]="['/subscription-group/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="crmwebApp.subscriptionGroup.home.createLabel">
            Create a new Subscription Group
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="subscriptionGroups?.length === 0">
        <span jhiTranslate="crmwebApp.subscriptionGroup.home.notFound">No subscriptionGroups found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="subscriptionGroups?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="groupId"><span jhiTranslate="crmwebApp.subscriptionGroup.groupId">Group Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="custAcctId"><span jhiTranslate="crmwebApp.subscriptionGroup.custAcctId">Cust Acct Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="groupType"><span jhiTranslate="crmwebApp.subscriptionGroup.groupType">Group Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="groupName"><span jhiTranslate="crmwebApp.subscriptionGroup.groupName">Group Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tempGroupMemberIds"><span jhiTranslate="crmwebApp.subscriptionGroup.tempGroupMemberIds">Temp Group Member Ids</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="crmwebApp.subscriptionGroup.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="startDate"><span jhiTranslate="crmwebApp.subscriptionGroup.startDate">Start Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endDate"><span jhiTranslate="crmwebApp.subscriptionGroup.endDate">End Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lockCount"><span jhiTranslate="crmwebApp.subscriptionGroup.lockCount">Lock Count</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="crmwebApp.subscriptionGroup.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="crmwebApp.subscriptionGroup.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdatedDate"><span jhiTranslate="crmwebApp.subscriptionGroup.lastUpdatedDate">Last Updated Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdatedBy"><span jhiTranslate="crmwebApp.subscriptionGroup.lastUpdatedBy">Last Updated By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tenantId"><span jhiTranslate="crmwebApp.subscriptionGroup.tenantId">Tenant Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="customer.custAcctId"><span jhiTranslate="crmwebApp.subscriptionGroup.customer">Customer</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subscriptionGroup of subscriptionGroups ;trackBy: trackId">
                    <td><a [routerLink]="['/subscription-group', subscriptionGroup.id, 'view']">{{ subscriptionGroup.id }}</a></td>
                    <td>{{ subscriptionGroup.groupId }}</td>
                    <td>{{ subscriptionGroup.custAcctId }}</td>
                    <td>{{ subscriptionGroup.groupType }}</td>
                    <td>{{ subscriptionGroup.groupName }}</td>
                    <td>{{ subscriptionGroup.tempGroupMemberIds }}</td>
                    <td jhiTranslate="{{ 'crmwebApp.RecordStatus.' + subscriptionGroup.status }}">{{ subscriptionGroup.status }}</td>
                    <td>{{ subscriptionGroup.startDate | date:'medium' }}</td>
                    <td>{{ subscriptionGroup.endDate | date:'medium' }}</td>
                    <td>{{ subscriptionGroup.lockCount }}</td>
                    <td>{{ subscriptionGroup.createdDate | date:'medium' }}</td>
                    <td>{{ subscriptionGroup.createdBy }}</td>
                    <td>{{ subscriptionGroup.lastUpdatedDate | date:'medium' }}</td>
                    <td>{{ subscriptionGroup.lastUpdatedBy }}</td>
                    <td>{{ subscriptionGroup.tenantId }}</td>
                    <td>
                        <div *ngIf="subscriptionGroup.customer">
                            <a [routerLink]="['/customer', subscriptionGroup.customer?.id, 'view']" >{{ subscriptionGroup.customer?.custAcctId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/subscription-group', subscriptionGroup.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/subscription-group', subscriptionGroup.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(subscriptionGroup)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="subscriptionGroups?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
